<div id="Bluefields_page">
	<div id="Bluefields_info">
			<img src="/assets/bf_title.png" />
	</div>
			
	<div id="feature"> 
		<div class="sidecar">
			<h1> Bluefields </h1>
			<p> Bluefields is a recreational sports platform for organizing local sports in your community.</br></br>The following are visual advertisements created for a social media campaign run during summer 2012.  Made using photoshop and implemented in Facebook, Stumbleupon, and Twitter networks.
			</p>
		</div>

		<div id="visual">
			<img class="single" src="/assets/BF/BF_promo1.jpg" />
			<img class="single" src="/assets/BF/BF_promo2.jpg" />
			<img class="single" src="/assets/BF/BF_promo3.jpg" />
			<img class="single" src="/assets/BF/BF_promo4.jpg" />
			<img class="single" src="/assets/BF/BF_promo5.jpg" />
		</div>
	</div>
</div>