<div id="Bluefields_page">
	<div id="Bluefields_info">
			<img src="/assets/bf_title.png" />
	</div>
			
	<div id="Bluefields_feature"> 
		<img src="/assets/BF/BF_promo1.jpg" />
		<img src="/assets/BF/BF_promo2.jpg" />
		<img src="/assets/BF/BF_promo3.jpg" />
		<img src="/assets/BF/BF_promo4.jpg" />
		<img src="/assets/BF/BF_promo5.jpg" />

		<div id="sidecar">
			<h1> Sports on the Brain </h1>
			<p> I was a student in the Parkland Morning News television studio.  I directed the studio from 2007-2009, during which
				we received numerous awards for our production.
			</p>
		</div>
	</div>
</div>