<div id="Disection_page">
	<div id="Disection_info">
		<img src="/assets/disection/DiSection_header.jpg" />
	</div>

	<div id="Disection_feature">
		<img src="/assets/disection/DiSection_watch.jpg" />
		<img src="/assets/disection/DiSection_thermo.jpg" />
		<img src="/assets/disection/DiSection_lens.jpg" />
	</div>
</div>