<div id="Welcome_page">
	<div class="Welcome_info">
		<h1> Hello, I'm Bryan. </h1>
		<h2> I'm currently designing & developing business websites in New York.</h2>
		<h1 style="margin-top: 100px; font-size: 1.75em;"> Latest Work: <span class="salsa">The Salsa Saucer </span></h1>
		<h2>The salsa market is in a recession.  There are very few options besides the standard, glass jar salsa sold in grocery stores.  This creates two significant problems: <ul> <li>A consumer cannot simply open the jar and enjoy with friends, they must use another bowl.</li> <li> As a result, this process creates an extra bowl to wash after every consumption wasting millions of gallons of water anually. <div class="cite"> <div class="reveal"> [1] <div class="hidden">271,312,400 jars x 2 cups of water to clean </br> per serving = > 33,000,000 gallons per year. <a target="blank" href="http://images.businessweek.com/ss/10/10/1007_bestselling_condiments/"> Source </a> </div> </div> </div> </li></ul>  Join me and save the world, one salsa jar at a time.  <a target="blank" href="http://contest.techbriefs.com/2013/entries/consumer-products/by-views/3970-"> Vote Here </a> </h2>
	</div>
	<div id="current_work">

	</div>
</div>

<!-- 	<div class="gear_1"> </div>	
	<div class="gear_2"> </div>	
	<div class="gear_3"> </div>	
	<div class="gear_4"> </div>	
	<div class="gear_5"> </div>	
	<div class="gear_6"> </div>	 -->