<div id="Welcome_page">
	<div class="Welcome_info">
		<h1> Hello, I'm Bryan. </h1>
		<h2> I'm currently designing & developing enterprise websites in the Northeast US.</h2>
		<h1 style="margin-top: 90px; font-size: 1.75em;padding-bottom: .75em;"> Latest Work: <span class="salsa">Social Media Design</span></h1>
		<h2>Social media, if used properly, can be an indispensable asset to local business.  Restaurants, cafes, bars, pubs, and retail are able to interact and engage continuously with their target demographic.  Marketing successfully through this avenue is cost-effective and impactful for both the business and consumer.<br><br>The two pieces to the right are part of a larger social media and print campaign at Bullwinkles Bar in Lawrence, KS.</h2>
	</div>
	<div id="current_work"> </div>
	<div id="current2"> </div>
</div>

<!-- 	<div class="gear_1"> </div>	
	<div class="gear_2"> </div>	
	<div class="gear_3"> </div>	
	<div class="gear_4"> </div>	
	<div class="gear_5"> </div>	
	<div class="gear_6"> </div>	 -->