<!DOCTYPE html>
<html>
  <head>
    <title>Bryan Knouse</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  
  <body>
      <img src="http://images.travelpod.com/tripwow/photos/ta-00aa-df90-1aff/simply-amazing-architecture-istanbul-turkey+1152_12867232412-tpfil02aw-9679.jpg" />
  </body>

</html>