<div id="Welcome_page">
	<div class="Welcome_info">
		<h1> Hello, I'm Bryan. </h1>
		<h2> I'm currently designing & developing business websites in New York. </h2>
	</div>
</div>

<!-- 	<div class="gear_1"> </div>	
	<div class="gear_2"> </div>	
	<div class="gear_3"> </div>	
	<div class="gear_4"> </div>	
	<div class="gear_5"> </div>	
	<div class="gear_6"> </div>	 -->