<div id="info_bar">
	<img src="/assets/BryanKnouse.png" />

	<div class="basic_info"> 
		<ul>
			<li> From: Allentown, PA </li>
			<li> Age: 22 </li>
			<li> Enjoys: Gang bangin' </li>
		</ul>
	</div>

</div>
		