<div id="Welcome_page">
	<div class="Welcome_info">
		<h1> Hello, I'm Bryan. </h1>
		<h2> I'm currently designing & developing enterprise websites in the Northeast US.</h2>
		<h1 style="margin-top: 90px; font-size: 1.75em;padding-bottom: .75em;"> Latest Work: <span class="salsa">Social Media Design</span></h1>
		<h2>Social media, if used properly, is an indespensable asset to local business.  Places such as restaurants, cafes, bars, and pubs cant interact and engage continuously with their target demographic.<br><br>These two pieces are part of a larger campaign at Bullwinkles Bar in Lawrence, KS.</h2>
	</div>
	<div id="current_work"> </div>
	<div id="current2"> </div>
</div>

<!-- 	<div class="gear_1"> </div>	
	<div class="gear_2"> </div>	
	<div class="gear_3"> </div>	
	<div class="gear_4"> </div>	
	<div class="gear_5"> </div>	
	<div class="gear_6"> </div>	 -->