<div id="info_bar">
	<div class="basic_info"> 
		<img src="/assets/mille_3.jpg" />
<!-- 		<p>Bryan Knouse</p>
		<ul>
			<li>Allentown, PA </li>
			<li>22 years old </li>
			<li>University of Rochester</li>
		</ul> -->
	</div>

</div>
		