<div id="main">

	<span class="title"> Bryan Knouse </span>

	<span class="motto">
		hello
	</span>

	<ul>
		<li> Resume </li>

		<li> Rochester </li>

		<li> Heterozygous </li>

		<li> Homozygous </li>

		<li> Rapgenius </li>

		<li> Nest </li>

		<li> Square </li>
	</ul>

</div>