<div id="main">

	<span class="title"> Bryan Knouse </span>

	<span class="motto">

	</span>


	<div id="middle">
		<ul class='kwicks kwicks-vertical'>
			<li id='panel-1'> Resume </li>
			<li id='panel-2'> Rochester </li>
			<li id='panel-3'> Rapgenius </li>
			<li id='panel-4'> Nest</li>
			<li id='panel-5'> Square</li>
		</ul>

		<div class="content">
			HELLO
		</div>
	</div>

</div>