<div id="Nest_feature"> 
	<div class="info_bar">
		<span class="title"> <span class="large">N</span>EST <span class="large">P</span>RODUCT<span class="large"> D</span>ESIGN</span>

		<p class="summ1">
			As a leader in smart households, Nest products are designed to make living easier.  Many common appliances are programmed as “set and forget” but do not respond to changes in their environment.  This is wasteful for both time and energy.  Nest builds products that can be set, and then learn from future changes.
		</p>
		<p class="summ2">
			The following infographic is a submission to the KPCB Design Fellows application, and is presented as a visual business plan following <a href="http://www.sequoiacap.com/ideas">Sequoia Captial’s ideas outline.</a>  View this as an “application” for investment.
		</p>
		<p class="summ3">
			Nearly everything contained in the infographic is created from scratch.  Logos and UI visuals are designed in Photoshop.  All electronics (except the smartphones and old, white thermostats) were created through a combination of CAD, Photoshop, and Microsoft Office tools.
		</p>
	</div>

	<img src="/assets/nest_infographic.jpg" /> 

</div>