<div id="Parkland_page">
	<div id="Parkland_info">
		<img src="/assets/phs_logo.png" />
	</div>

	<div id="youtube_feature"> 
		<iframe width="1024" height="768" src="http://www.youtube.com/embed/eptC4UVRBQw" frameborder="0" allowfullscreen></iframe>
		
		<div id="sidecar">
			<h1> Parkland </br>Morning News </h1>
			<p> I was a student in the Parkland Morning News television studio.  I directed the studio from 2007-2009, during which
				we received numerous awards for our production.
			</p>
		</div>
	</div>	

</div>