<div id="info_bar">
	<div class="basic_info"> 

		<img src="/assets/phs_logo.png" />

	</div>
</div>
		
<div id="feature"> 
	<iframe width="892" height="669" src="http://www.youtube.com/embed/eptC4UVRBQw" frameborder="0" allowfullscreen></iframe>
</div>