<div id="Rapgenius_page">
	<div id="info_bar">
			<img src="/assets/rapgenius_title.png" />
	</div>

	<div id="feature"> 
		<div class="sidecar">
			<h1> Rapgenius </h1>
			<p> Design review of the Rapgenius platform.</p>
		</div>
		<div id="visual">
			<img class="single" src="/assets/Rapgenius_info.jpg" />
		</div>	
	</div>
</div>