<div id="Rapgenius_page">
	<div id="info_bar">
			<img src="/assets/rapgenius_title.png" />
	</div>

	<div id="feature"> 
		<div class="sidecar">
			<h1> Sports on the Brain </h1>
			<p> I was a student in the Parkland Morning News television studio.  I directed the studio from 2007-2009, during which
				we received numerous awards for our production.
			</p>
		</div>
		<img id="visual" src="/assets/Rapgenius_info.jpg" /> 	
	</div>
</div>