<div id="info_bar" style="background: #fff;">
	<div class="basic_info"> 

		<img class="roc_title" src="/assets/ur_logo.png" />

	</div>
</div>
		

<div id="UR_feature"> 
	<%= link_to image_tag("pdf_download.png"), "/downloads/ME 223 Final Project.docx", class: "download_me" %>
	<%= link_to image_tag("pdf_download.png"), "/downloads/Center_the_chi.docx", class: "download_tai" %>
</div>