<div id="info_bar" style="background: #fff;">
	<div class="basic_info"> 

		<img class="roc_title" src="/assets/ur_logo.png" />

	</div>
</div>
		

<div id="feature"> <img src="/assets/UR_resume_stuff.jpg" /> </div>