<div id="info_bar">
	<div class="basic_info" style="background: #fff;"> 

		<img style="float: right;" src="/assets/ur_logo.png" />

	</div>
</div>
		

<div id="feature"> <img src="/assets/UR_resume_stuff.jpg" /> </div>