<div id="info_bar" style="background: #fff;">
		<img class="roc_title" src="/assets/ur_logo.png" />
</div>
		

<div id="UR_feature"> 
	<%= link_to image_tag("pdf_download.png"), "/downloads/ME_223_Final_Project.pdf", class: "download_me" %>
	<%= link_to image_tag("pdf_download.png"), "/downloads/Tai_Chi_Paper.pdf", class: "download_tai" %>
</div>