<div id="UR_page">
	<div id="info_bar" style="background: #fff;">
			<img class="roc_title" src="/assets/ur_logo.png" />
	</div>
			
	<div id="UR_feature">
		<div class="download_me">
			<%= link_to image_tag("Resume_arrow_link.png"), "/downloads/Tai_Chi_Paper.pdf" %>
			<a href="/downloads/Tai_Chi_Paper.pdf" class="arrow">
				<img class="arrow" src="/assets/Resume_arrow_link_dark.png" />
			</a>
		</div>

		<div class="download_tai">
			<%= link_to image_tag("Resume_arrow_link.png"), "/downloads/ME_223_Final_Project.pdf" %>
			<a href="/downloads/ME_223_Final_Project.pdf" class="arrow">
				<img class="arrow" src="/assets/Resume_arrow_link_dark.png" />
			</a>
		</div>
	</div>
</div>