<div id="info_bar">
		<img src="/assets/SA244_cover.JPG" />
</div>
		
<div id="SA_feature">
	<h1> Week of 4/1/13 //<span class="second">Project #3 Class Work </span> </h1>

	<h2 style="text-align:center; font-weight: bold;"> PORTALS </h2>
	<h3>Background</h3>

	<p>
	“Portals” is an exploration into site-specific artwork, with an emphasis on larger format
	photography. The ideas for this work are heavily influenced by the career of Gordon Matta-Clark. Matta-
	Clark’s “anarchitectural” style is hallmark of his artistry - creating from removal. Unlike most artists
	who are builders, Matta-Clark removed material to create interesting and perplexing instances of
	architecture. Typically, these mediums involved houses and other large, public displays.</br></br>
	The “Portals” project builds on similar ideology with some mutations. Like Matta-Clark’s work, this
	takes an existing structure and modifies it in an unconventional way. Unlike his pieces, to construct
	this installation there was no removal of material. The opposite direction was considered to achieve the
	desired effect – a portal to a distant view.</br></br>
	Matta-Clark’s work deconstructs walls to allow an inside look, something typically shielded from view.
	The “Portals” installation attempts the same illusion through additives. Photographs are taken of scenes
	positioned directly behind the frame; what would be seen if the image were a window. However, you
	may notice these frames do not show what is just beyond the wall, but several walls beyond. In the frame
	on the right, even a building is absent beyond the wall.</br></br>

	<a id="fancybox" href="/assets/sa244/Clark_bingo.jpg" title="Bingo"><img style="width: 400px;" src="/assets/sa244/Clark_bingo.jpg" alt="" /></a>
	
	<a id="fancybox" href="/assets/sa244/Clark_bingo2.jpg" title="Bingo"><img style="width: 400px;" src="/assets/sa244/Clark_bingo2.jpg" alt="" /></a>
	
	<h3>Illusion</h3>
	<p>
	To make the effect as accurate as possible viewer perspectives were taken into account. Below is a
	representation of the image taking and construction process. The average height of a human, 5’8” (5’3”
	eye height) was used for the viewer.</br></br>
	In the first photograph (Anderson Tower shown), the bottom of the image is aligned nearly 66 feet from
	the perspective of the viewer and directly ahead of the frame – an accurate representation of what would
	be seen in an equally sized window. From a stationary viewpoint, you may for a second forget that it is
	an image. It becomes clear after moving the viewer perspective that it is not a window but a photograph.</br></br>
	Other steps were taken to make the frames as believable as possible. Placed immediately next to a real
	window, the frame and coloring is near identical to provide a base for assuming they are in fact the same.
	It was hoped for this project that the window / frame would be the same size and shape, but issues with
	the large format Canon printer prevented this from completion.</br></br>
	Additionally, a layer of clear film is placed over the photo. The objective of this step is to create a
	windowlike luster over the photo, something I think was achieved fairly well.</br></br>

	<a id="fancybox" href="/assets/sa244/Project3_diagram.png" title="Figure 1:  Perspective of a viewer of 'Portals'"><img style="width: 900px; margin-left: -10px;" src="/assets/sa244/Project3_diagram.png" alt="" /></a>

	<h3>Issues</h3>
	<p>
	Despite accurate perspectives, there are resulting flaws in creating a perfect window to another space.
	If using an image, it is quickly evident that the image does not change perspective as the viewer moves
	around the frame in space. A window will show an image that changes in accordance to where it is being
	viewed from.</br></br>
	If done again, I would consider making a deeper frame box and seperating the photo and glass layers.
	This would give the moving background illusion, as well as separating the luster of the glass and
	photograph – a subtle difference but something the human brain can quickly recognize.</br></br>

	<h1> Week of 3/25/13 //<span class="second">Project #3 Class Work </span> </h1>

	<h3> Gordon Matta Clark </h3>

	<a id="fancybox" href="/assets/sa244/Conical_intersect.jpg" title="Conical Intersect"><img style="width: 420px;" src="/assets/sa244/Conical_intersect.jpg" alt="" /></a>

	<a id="fancybox" href="/assets/sa244/Clark_splitting.jpg" title="Splitting"><img style="width: 420px;" src="/assets/sa244/Clark_splitting.jpg" alt="" /></a>

	<h1> Week of 3/18/13 //<span class="second">Project #3 Class Work </span> </h1>

	<h1> Week of 3/11/13 //<span class="second">Spring Break</span> </h1>

	<a id="fancybox" href="/assets/sa244/Spring_break.JPG" title="Charleston, South Carolina"><img style="width: 200px;" src="/assets/sa244/Spring_break.JPG" alt="" /></a>

	<h1> Week of 3/4/13 //<span class="second">Presentation & Critique of Project #2 </span> </h1>

	<p style="font-weight: bold;"> Project #2 </p>
	<p>
	Everything is a matter of perspective.  The situations we find ourselves in, our interactions of others, and the way we perceive and create artwork is all subjective to one’s own mind.  For the second project, we were asked to create a piece of artwork using the wall space in a non-traditional way.  The scope of possibilities is left open ended, and the resulting art created could literally be anything.  I could have created something dealing from outer space to the inside of an atomic nucleus, however, I chose something much more mundane – my work desk. </br> </br>
	It may sound slightly strange that such a common piece of furniture was chosen for as creative a project as this, but I assure you my motivations were not entirely unfounded.  The type of photography used in this exposition is known as high dynamic range or HDR.  This type of image actually uses three images to compose one singular photo.  The three images, identical except for the exposure of each, are overlaid to create an appealing mix of color and contrast.  Using this methodology can bring rather boring entities – a desk - to great life. </br></br>
	In addition to the photography, the installation of the photos was unusual as well.  Two photos were taken, one of the desk from a horizontal perspective and one from a vertical.  The images will be installed on the wall as such identical to the orientation in which they were taken.  I believe this presents an interesting subconscious thought to the reader.  Irrelevant of what exactly I am looking at, my brain will acknowledge the juxtaposition of photos akin to that of a desk (or computer screen/keyboard combination).  The two photos I took are posted on a wall at perpendicular angles.</br></br>
	I think perspective can completely change the way a piece is viewed.  The color alteration holds some conscious effect, and creates something new altogether with the physical orientation of the pieces.  Also, as a final design note, there are white, and then black borders surrounding the photos.  This was chosen specifically to maintain the nature of the photograph, but at the same time imply the subtlety of a desk or computer screen.</br></br>
	Altogether I am satisfied with the way this project turned out.  I would make several changes if it were to be done again, though.  Namely, I think the HDR of the horizontal (the normal view) orientation came out exceptionally well and would enjoy seeing that in large format print.  I believe I am going to continue shooting in HDR, as I am a fan of the effect it has on the photographs. </p>

	<a id="fancybox" href="/assets/sa244/Project2_front.JPG" title="Desk Installation"><img style="width: 420px; margin-left: 30px;" src="/assets/sa244/Project2_front.JPG" alt="" /></a>	

	<a id="fancybox" href="/assets/sa244/Project2_angle.JPG" title="Desk Installation"><img style="width: 420px;" src="/assets/sa244/Project2_angle.JPG" alt="" /></a>	

	<h1> Week of 2/25/13 //<span class="second">Project #2 in class work </span> </h1>

	<a id="fancybox" href="/assets/sa244/FULL_mildcontrast.jpg" title="Desk in HDR"><img style="width: 200px;" src="/assets/sa244/FULL_mildcontrast.jpg" alt="" /></a>	

	<h1> Week of 2/18/13 //<span class="second">Research Project Presentation</span> </h1>

	<a id="fancybox" href="/assets/sa244/Fourth_on_Lake_Austin.jpg" title="Fourth On Lake Austin"><img style="width: 200px;" src="/assets/sa244/Fourth_on_Lake_Austin.jpg" alt="" /></a>

	<h1> Week of 2/11/13 //<span class="second">Project Work & Snowstorm</span></h1>
	
	<h3> 
		A massive snowstorm swept through the northeast this past weekend.  Some of my photos:
	</h3> 

	<div class="pic_group">
		<a id="fancybox" href="/assets/sa244/20130208-_DSC0037.jpg" title="Goergen Biomedical Engineering"><img style="width: 200px;" src="/assets/sa244/20130208-_DSC0037.jpg" alt="" /></a>
		
		<a id="fancybox" href="/assets/sa244/20130208-_DSC0071.jpg" title="South Plymouth Avenue"><img style="width: 200px;" src="/assets/sa244/20130208-_DSC0071.jpg" alt="" /></a>

		<a id="fancybox" href="/assets/sa244/20130209-_DSC0163-2.jpg"  title="Riverview Bridge"><img style="width: 200px;" src="/assets/sa244/20130209-_DSC0163-2.jpg"  alt="" /></a>	

		<a id="fancybox" href="/assets/sa244/20130209-_DSC0184-2.jpg"  title="Todd Union"><img style="width: 200px;" src="/assets/sa244/20130209-_DSC0184-2.jpg"  alt="" /></a>

		<a id="fancybox" href="/assets/sa244/20130209-_DSC0185-2.jpg"  title="Todd Union #2"><img style="width: 200px;" src="/assets/sa244/20130209-_DSC0185-2.jpg" alt="" /></a>
	</div>
</div>

<div id="SA_feature">
	<h1> Week of 2/4/13 //<span class="second">Roger Colombik, Georges Pérec, Guy Debord</span></h1>

	<h3> Roger Colombik: Public Interventions in the Post-Soviet World </h3>
	<p> 
		The following video of <a target="blank" href="http://www.reframingphotography.com/artists/roger-colombik-0">Roger Colombik</a> catalogs his work in the countries of Romania and Georgia observing the common folk and their lives.  His commitment to this "life sized" artwork is outstanding, living with the Georgians for two years to better understand them, teaching in a school to support himself.  </br></br>

		I believe this is a great place to conduct the kind of art he was after - unsung, not fabulous, and nowhere near garnering international attention.  Colombik saw the way much of the world works, and the struggles associated with those people.  His artwork thus reflects the most interesting aspect of that life - the people.  His portraits are large and with a great deal of detail, too.
	</p> 

	<h3 style="margin-top: 40px;"> Image of the Week </h3>

	<a id="fancybox" href="/assets/DSC_0043.jpg"   title="Campus"><img style="width: 200px;" src="/assets/DSC_0043.jpg"  alt="" /></a>

</div>

<div id="SA_feature">
	<h1> Week of 1/28/13 //<span class="second">Flusser's Text </span></h1>

	<a id="fancybox" href="/assets/germany.jpg"  title="German Countryside, Southwest Bavaria"><img style="width: 200px;" src="/assets/germany.jpg"  alt="" /></a>

</div>

<div id="SA_feature"> 
	<h1> Week of 1/21/13 //<span class="second">George Baker: Photography's Expanded Field & Comments</span></h1>
	
	</br>

	<h3>What is photography to you?</h3>

	<p>
		Photography is a capture of an experience, and much more than just a static collection of colors.  George Baker’s “Photography’s Expanded Field” touches on the changing nature of modern photography.  Never before has a revolution in media made an impact like the movement from analogue to digital.  Yet, while the science behind the art is vastly different, the ideas and motivations for it remain unchanged.  Baker’s comparisons of negatives to contructive - the non-narrative and non-stasis relative to narrative and stasis explorations - illustrate the sheer depth of thought behind each photographic artwork.  As a 22 year old, I have been a child of the digital age.  The metaphoric “as seen through the lens of...” hardly applies anymore.  It would be more accurate to describe life as seen through a screen.  I still find that the mentalities shared by artists from times before my life, through the late 1900’s and now are quite similar despite their differences.</br></br>
		Photography is a means to capture an idea, situation, or a story and present it in a visually pleasing and thought-provoking manner.
	</P>

	<h3>George Baker: Photography’s Expanded Field:</h3>

	<p>
		I found the text intriguing and applicable to many of the thoughts of artists today - well beyond photography.  In a time of quickly aging technology, mannerisms with and uses for the technology will follow suit.  For the artistic spectrum, this creates a tricky path of growth.  I find Baker’s assessment of the movement to be a positive one.  Despite changes in media, “photography” as an art could remain unchanged.  
	</br></br>
		“The problem, as Foster remarked upon Krauss’s essay now quite a long
		time ago, is to resist the latent urge to “recentering” implicit in the expanded ﬁeld
		model of the postmodern in the ﬁrst place: in the “Expanded Field,” Foster wrote,
		“the work is freed of the term ‘sculpture’ . . . but only to be bound by other terms,
		‘landscape,’ ‘architecture,’ etc” (Baker, pg. 18).
	</p>

	<h3> Image of the Week </h3>

	<a id="fancybox" href="/assets/300.jpg"  title="King Leonidas"><img style="width: 200px;" src="/assets/300.jpg"  alt="" /></a>
</div>