<div id="info_bar">
	<div class="basic_info"> 

		<p> SA 244: Expanded Photography </p>

	</div>
</div>
		
<div id="SA_feature"> 
	<h1> Week of 1/21/13 </h1>
	<h2> George Baker: Photography's Expanded Field & Comments; Blog + Image </h2>
</div>