<div id="info_bar">
		<img src="/assets/SA244_cover.JPG" />
</div>
		
<div id="SA_feature">
	<h1> Week of 3/4/13 //<span class="second">Presentation & Critique of Project 2 </span> </h1>

	<h1> Week of 2/25/13 //<span class="second">Project #2 in class work </span> </h1>
	

	<h1> Week of 2/18/13 //<span class="second">Research Project Presentation</span> </h1>
	
	<p> HDR Photography...</p>

	<h1> Week of 2/11/13 //<span class="second">Project Work & Snowstorm</span></h1>
	
	<h3> 
		A massive snowstorm swept through the northeast this past weekend.  Some of my photos:
	</h3> 

	<div class="pic_group">
		<a id="fancybox" href="/assets/sa244/20130208-_DSC0037.jpg" title="Goergen Biomedical Engineering"><img style="width: 200px;" src="/assets/sa244/20130208-_DSC0037.jpg" alt="" /></a>
		
		<a id="fancybox" href="/assets/sa244/20130208-_DSC0071.jpg" title="Goergen Biomedical Engineering"><img style="width: 200px;" src="/assets/sa244/20130208-_DSC0071.jpg" alt="" /></a>

		<a id="fancybox" href="/assets/sa244/20130209-_DSC0163-2.jpg"  title="Goergen Biomedical Engineering"><img style="width: 200px;" src="/assets/sa244/20130209-_DSC0163-2.jpg"  alt="" /></a>	
		<a id="fancybox" href="/assets/sa244/20130209-_DSC0184-2.jpg"  title="Goergen Biomedical Engineering"><img style="width: 200px;" src="/assets/sa244/20130209-_DSC0184-2.jpg"  alt="" /></a>

		<a id="fancybox" href="/assets/sa244/20130209-_DSC0185-2.jpg"  title="Goergen Biomedical Engineering"><img style="width: 200px;" src="/assets/sa244/20130209-_DSC0185-2.jpg" alt="" /></a>
	</div>
</div>

<div id="SA_feature">
	<h1> Week of 2/4/13 //<span class="second">Roger Colombik, Georges Pérec, Guy Debord</span></h1>

	<h3> Roger Colombik: Public Interventions in the Post-Soviet World </h3>
	<p> 
		The following video of <a target="blank" href="http://www.reframingphotography.com/artists/roger-colombik-0">Roger Colombik</a> catalogs his work in the countries of Romania and Georgia observing the common folk and their lives.  His commitment to this "life sized" artwork is outstanding, living with the Georgians for two years to better understand them, teaching in a school to support himself.  </br></br>

		I believe this is a great place to conduct the kind of art he was after - unsung, not fabulous, and nowhere near garnering international attention.  Colombik saw the way much of the world works, and the struggles associated with those people.  His artwork thus reflects the most interesting aspect of that life - the people.  His portraits are large and with a great deal of detail, too.
	</p> 

	<h3 style="margin-top: 40px;"> Image of the Week </h3>

	<a id="fancybox" href="/assets/DSC_0043.jpg"   title="Goergen Biomedical Engineering"><img style="width: 200px;" src="/assets/DSC_0043.jpg"  alt="" /></a>

</div>

<div id="SA_feature">
	<h1> Week of 1/28/13 //<span class="second">Flusser's Text </span></h1>

	<a id="fancybox" href="/assets/germany.jpg"  title="Goergen Biomedical Engineering"><img style="width: 200px;" src="/assets/germany.jpg"  alt="" /></a>

</div>

<div id="SA_feature"> 
	<h1> Week of 1/21/13 //<span class="second">George Baker: Photography's Expanded Field & Comments</span></h1>
	
	</br>

	<h3>What is photography to you?</h3>

	<p>
		Photography is a capture of an experience, and much more than just a static collection of colors.  George Baker’s “Photography’s Expanded Field” touches on the changing nature of modern photography.  Never before has a revolution in media made an impact like the movement from analogue to digital.  Yet, while the science behind the art is vastly different, the ideas and motivations for it remain unchanged.  Baker’s comparisons of negatives to contructive - the non-narrative and non-stasis relative to narrative and stasis explorations - illustrate the sheer depth of thought behind each photographic artwork.  As a 22 year old, I have been a child of the digital age.  The metaphoric “as seen through the lens of...” hardly applies anymore.  It would be more accurate to describe life as seen through a screen.  I still find that the mentalities shared by artists from times before my life, through the late 1900’s and now are quite similar despite their differences.</br></br>
		Photography is a means to capture an idea, situation, or a story and present it in a visually pleasing and thought-provoking manner.
	</P>

	<h3>George Baker: Photography’s Expanded Field:</h3>

	<p>
		I found the text intriguing and applicable to many of the thoughts of artists today - well beyond photography.  In a time of quickly aging technology, mannerisms with and uses for the technology will follow suit.  For the artistic spectrum, this creates a tricky path of growth.  I find Baker’s assessment of the movement to be a positive one.  Despite changes in media, “photography” as an art could remain unchanged.  
	</br></br>
		“The problem, as Foster remarked upon Krauss’s essay now quite a long
		time ago, is to resist the latent urge to “recentering” implicit in the expanded ﬁeld
		model of the postmodern in the ﬁrst place: in the “Expanded Field,” Foster wrote,
		“the work is freed of the term ‘sculpture’ . . . but only to be bound by other terms,
		‘landscape,’ ‘architecture,’ etc” (Baker, pg. 18).
	</p>

	<h3> Image of the Week </h3>

	<a id="fancybox" href="/assets/300.jpg"  title="Goergen Biomedical Engineering"><img style="width: 200px;" src="/assets/300.jpg"  alt="" /></a>
</div>