<div id="SOTB_page">
	<div id="SOTB_info">
			<img src="/assets/Bluefields_header.png" />
	</div>
			
	<div id="feature"> 
		<div class="sidecar">
			<h1> Sports on the Brain </h1>
			<p> I was a student in the Parkland Morning News television studio.  I directed the studio from 2007-2009, during which
				we received numerous awards for our production.
			</p>
		</div>

		<div id="visual">
			<img style="width: 315px;" src="/assets/SOTB/SOTB_layout_old.png" />
			<img style="width: 420px;" src="/assets/SOTB/SOTB_layout_new.png" />
			<img class="sotb-analytics" src="/assets/SOTB/SOTB_analytics_before.png" />
			<img class="sotb-analytics" src="/assets/SOTB/SOTB_analytics_after.png" />
		</div>
	</div>
</div>