/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html {
	height: 100%;
}
body {
	background: #111111;
	overflow-y: scroll;
	height: 100%;

	.gear_1 {
		position: absolute;
		z-index: -10000;
		height: 307px;
		width: 318px;
		opacity: .15;
		margin-left: 5%;
		margin-top: 10em;
		background: url("/assets/bg/gear_1.png") no-repeat; 
	}

	#bg {
		z-index: 10;
		background: url("/assets//bg/bg_7.jpg") no-repeat;
		background-position: 0% 6em;
		min-height: 100%;
	}
}