/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html {
	height: 100%;
	width: 100%;
	position: absolute;
}

body {
	background: #fcfcfc;
/*
	.info_one {
		position: absolute;
		margin-left: 10%;
		margin-top: 6em;
		width: 450px;
		height: 300px;

		.box {
			height: 208px;
			width: 208px;
			margin-left: auto;
			margin-right: auto;
			cursor: pointer;

			.text {
				transition: opacity .5s;
				-webkit-transition: opacity .5s; 
				opacity: 0;
				width: 450px;
				margin-left: -121px;
				margin-top: 2em;
				text-align: center;
				cursor: default;
			}
		}

		.box:hover {
			.text {
				opacity: 1;
			}
		}
	}
 
	.info_two {
		position: absolute;
		margin-left: 35%;
		margin-top: 6em;
		width: 450px;
		height: 300px;

		.box {
			height: 208px;
			width: 208px;
			margin-left: auto;
			margin-right: auto;
			cursor: pointer;

			.text {
				transition: opacity .5s;
				-webkit-transition: opacity .5s; 
				opacity: 0;
				width: 450px;
				margin-left: -121px;
				margin-top: 2em;
				text-align: center;
				cursor: default;
			}
		}

		.box:hover {
			.text {
				opacity: 1;
			}
		}
	}
	
	.info_three {
		position: absolute;
		margin-left: 60%;
		margin-top: 6em;
		width: 450px;
		height: 300px;

		.box {
			height: 208px;
			width: 208px;
			margin-left: auto;
			margin-right: auto;
			cursor: pointer;

			.text {
				transition: opacity .5s;
				-webkit-transition: opacity .5s; 
				opacity: 0;
				width: 450px;
				margin-left: -121px;
				margin-top: 2em;
				text-align: center;
				cursor: default;
			}
		}

		.box:hover {
			.text {
				opacity: 1;
			}
		}
	}*/

	#bg {
		z-index: 10;
		background-position: 0% 96px;
		min-height: 1196px;
		background: url("/assets/bg/watch_bg_png.png") no-repeat; 
	}
}