/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html {
	height: 100%;
}
body {
	background: #111111;
	overflow-y: scroll;
	height: 100%;

	.gear_1 {
		position: absolute;
		z-index: -10000;
		height: 307px;
		width: 318px;
		opacity: .1;
		margin-left: 6%;
		margin-top: 23em;
		background: url("/assets/bg/gear_1.png") no-repeat; 
	}

	.gear_2 {
		position: absolute;
		z-index: -10000;
		height: 327px;
		width: 330px;
		opacity: .1;
		margin-left: 19.5%;
		margin-top: 13em;
		background: url("/assets/bg/gear_2.png") no-repeat; 
	}

	.gear_3 {
		position: absolute;
		z-index: -10000;
		height: 269px;
		width: 272px;
		opacity: .1;
		margin-left: 32%;
		margin-top: 28em;
		background: url("/assets/bg/gear_3.png") no-repeat; 
	}

	.gear_4 {
		position: absolute;
		z-index: -10000;
		height: 236px;
		width: 243px;
		opacity: .1;
		margin-left: 25%;
		margin-top: 28em;
		background: url("/assets/bg/gear_4.png") no-repeat; 
	}

	.gear_5 {
		position: absolute;
		z-index: -10000;
		height: 221px;
		width: 238px;
		opacity: .1;
		margin-left: 21.75%;
		margin-top: 34em;
		background: url("/assets/bg/gear_5.png") no-repeat; 
	}

	.gear_6 {
		position: absolute;
		z-index: -10000;
		height: 136px;
		width: 143px;
		opacity: .1;
		margin-left: 11.9%;
		margin-top: 45.5em;
		background: url("/assets/bg/gear_6.png") no-repeat; 
	}

	.gear_7 {
		position: absolute;
		z-index: -10000;
		height: 142px;
		width: 143px;
		opacity: .1;
		margin-left: 13.1%;
		margin-top: 52.5em;
		background: url("/assets/bg/gear_7.png") no-repeat; 
	}

	#bg {
		z-index: 10;
		background: url("/assets//bg/watch_bg_png.png") no-repeat;
		background-position: 0% 6em;
		min-height: 100%;
	}
}