// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
	margin-top: -8px;
	margin-left: auto;
	margin-right: auto;
	width: 908px;
	background: #111;

	#navi {
		height: 450px;
		width: 900px;
		padding: 4px;
		background: #111;

		#row_1 {

		}

		#row_2 {

		}

		#row_3 {

		}

		.box {
			position: relative;
			float: left;
			margin-top: 4px;
			margin-bottom: 4px;
			margin-left: 4px;
			margin-right: 4px;
			height: 142px;
			width: 142px;	
			background: url("box_bg.png");	
			overflow: hidden;
		}

		.wide {
			width: 292px;
		}

		.details{
			font-family: 'helvetica', sans-serif;
			font-weight: bold;
			text-decoration: none;
			text-align: left;
			color: #fff;
			background: #000;
			width: 122px;
			padding: 10px;
			min-height: 122px;
			opacity: .9;
			position:absolute;
			bottom:0px;
			left:0px;
			margin-left:-142px;
		}

		.det_wide {
			width: 272px;
			margin-left: -292px;
		}

		.box:hover {
			
			.details{
				margin-left:0;
				-webkit-transition: margin-left;
				-webkit-transition-timing-function: ease-in;
				-webkit-transition-duration: 250ms;
			}
		}
	}

	.desc {
		font-size: 28px;
		color: #fff;
		margin-left: 500px;
	}

	#nav {
		height: 205px;
		border-top: 2px solid #888;
		border-bottom: 2px solid #888;
	
		.kwicks {
			height: 175px;
			float: left;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		.kwicks > li {
			height: 175px;
			cursor: pointer;
		}
	}

	#feature {
		margin-top: 15px;

		img {
			width: 908px;
		}
	}
}


