// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
	margin-top: -8px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 8px;
	width: 908px;
	background: #151515;

	.title {
		position: absolute;
		color: #fff;
		top: 3px;
		margin-left: -200px;
		font-family: 'Cinzel Decorative';
		font-size: 24px;
		text-decoration: none;
	}
	#navi {
		height: 450px;
		width: 900px;
		padding: 4px;
		background: #151515;

		#row_1 {

		}

		#row_2 {

		}

		#row_3 {

		}

		.box {
			position: relative;
			float: left;
			margin-top: 4px;
			margin-bottom: 4px;
			margin-left: 4px;
			margin-right: 4px;
			height: 142px;
			width: 142px;	
			background: url("box_bg.png");	
			overflow: hidden;
		}

		.empty_box {
			-webkit-opacity: 0.25;
			-moz-opacity: 0.25;
			opacity: 0.25;
			-webkit-transition: all .5s ease;
			-moz-transition: all .5s ease;
			-ms-transition: all .5s ease;
			-o-transition: all .5s ease;
			transition: all .5s ease;
		}

		.empty_box:hover {
			-webkit-opacity: 1;
			-moz-opacity: 1;
			opacity: 1;
		}

		.wide {
			width: 292px;
		}

		.details{
			font-family: 'helvetica', sans-serif;
			font-weight: bold;
			text-decoration: none;
			text-align: left;
			color: #fff;
			background: #000;
			width: 122px;
			padding: 10px;
			min-height: 122px;
			opacity: .9;
			position:absolute;
			bottom:0px;
			left:0px;
			margin-left:-142px;
		}

		.det_wide {
			width: 272px;
			margin-left: -292px;
		}

		.box:hover {
			
			.details{
				margin-left:0;
				-webkit-transition: margin-left;
				-webkit-transition-timing-function: ease-in;
				-webkit-transition-duration: 250ms;
			}
		}
	}

	.desc {
		font-size: 28px;
		color: #fff;
		margin-left: 500px;
	}

	#footer {
		position: relative;
		background: #000;
		margin-left: 8px;
		bottom: 0px;
		width: 892px;
		height: 50px;

		p {
			color: #fff;
			margin-top: 15px;
			text-align: center;
		}
	}
}


