#info_bar {
	height: 235px;
	width: 1060px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px;
	margin-top:0;

	img {
		width: 1060px;
	}

	.roc_title {
		width: 350px;
		height: 175px;
		margin-top:15px;
		margin-left: 315px;
	}

	p {
		margin-left: 10px;
		margin-top: 0px;
		margin-bottom: 0px;
		color: #fff;
		font-size: 36px;
		font-family: 'Cinzel Decorative', cursive;
	}

	ul {
		color: #fff;
		font-size: 16px;
		list-style-type: none;
	}
}

#feature {
	width: 1060px;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2.5em;
	padding-bottom: 5em;

	#visual {
		width: 750px;
		display: inline-block;
		margin-left: 60px;

		.single {
			width: 750px;
			margin-bottom: 40px;
		}

		.double {
			width: 450px;
		}
	}

	.sidecar {
		width: 250px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		float: left;	

		h1 {
			font-weight: 400;
			border-bottom: 1px solid #666;
			margin-bottom: .5em;
			padding-bottom: .25em;
			color: #C40000;
			width: 250px;
		}

		p {
			font-size:1.15em;
			line-height: 1.5em;
			font-weight: 150;
			color: #222;
			width: 250px;
		}
	}
}


#Bluefields_page {
	background: url('/assets/bg/BF_bg.png');
	padding-bottom: 4em;

	#Bluefields_info {
		width: 1060px;
		margin-left: auto;
		margin-right:auto;

		img {
			width: 1060px;
			margin-top: 15px;
		}
	}

	#Bluefields_feature {
		width: 892px;
		margin-left: auto;
		margin-right: auto;

		img {
			margin-top: 2em;
		}
	}
}

#Chameleon_page {
	background: #eeeeee;
	padding-bottom: 4em;

	#Chameleon_info {
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}

	#Chameleon_feature {
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
}

#Disection_page {
	background: #cbcbcb;
	padding-bottom: 4em;

	#Disection_info {
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}

	#Disection_feature {
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
}

#Nest_page {
	background: #D3DCE0;
	padding-bottom: 0em;

	#Nest_feature {
		width: 1024px;
		margin-left: auto;
		margin-right: auto;
	}
}

#Parkland_page {
	background: #111;
	padding-bottom: 1em;

	#Parkland_info {
		width: 1060px;
		margin-bottom: 8px;
		margin-left: auto;
		margin-right: auto;

		img {
			width: 1060px;
			margin-top: 15px;
		}
	}

	.sidecar {

		p {
			color: #eee;
		}
	}
}

#SA_page {
	background: #fcfcfc;
	font-size: 14px;
	padding-bottom: 7.5em;

	#SA_feature {
		width: 1024px;
		padding-top: 8px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 80px;
		background: #eee;
		
		#fancybox {
			margin-left: 40px;
		}

		img {
			border: 1px solid #999;
			margin-bottom: 15px;
		}

		h1 {
			color: #111;
			font-size: 1.2em;
			line-height: 1.2em;
			font-family: 'Arial';
			text-transform: uppercase;
			font-weight: bold;
			margin-left: 10px;
		}

		.second {
			color: #111;
			font-size: .9em;
			line-height: .8em;
			font-family: 'Cinzel Decorative', cursive;
			font-weight: normal;
			margin-left: 10px;
			margin-bottom: 20px;
		}

		h3 {
			color: #111;
			font-size: .9em;
			line-height: .8em;
			font-family: 'Arial';
			margin-left: 40px;
			margin-top: 30px;
		}

		.pic_group {
			width: 900px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 15px;
			text-align: center;

		}

		p {
			color: #333;
			margin-left: 40px;
			margin-right: 10px;
			font-family: 'Verdana';	
			
			a {
				color: #7E83A3;
				text-decoration: none;
			}

			a:hover {
				color: #999;
				text-decoration: underline;
			}
		}
	}
}

#Salsalito_page {
	background: #F6A8A1;
	padding-bottom: 4em;

	#Salsalito_info {
		width: 1000px;
		height: 700px;
		padding-top: 200px;
		text-align: center;
		font-size: 3em;
		font-family: 'Source Sans Pro', sans-serif;
		margin-left: auto;
		margin-right: auto;
	}

	#Salsalito_feature {
		width: 1000px;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

#SOTB_page {
	background: url('/assets/bg/SOTB_bg.jpg');
	padding-bottom: 4em;

	#SOTB_info {
		width: 1060px;
		margin-bottom: 8px;
		margin-left: auto;
		margin-right: auto;

		img {
			margin-top: 15px;
			width: 1060px;
		}
		
	}

	.sotb-analytics {
		margin-top: 5em;
		width: 749px;
		margin-left: auto;
		margin-right: auto;
	}
}

#UR_page {
	background: #fff;

	#UR_feature {
		background: url("/assets/BKnouse_resume.png") no-repeat;
		margin-top: 5em;
		margin-bottom: 10em;
		background-size: 100%;
		width: 1024px;
		margin-left: auto;
		margin-right: auto;
		height: 1291px;

		img {
			width: 50px;
		}

		.download_me {
			position: relative;
			left: 125px;
			top: 325px;
			width: 50px;
			height: 66px;

			.arrow {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				-webkit-transition: all .2s ease;
				-moz-transition: all .2s ease;
				-ms-transition: all .2s ease;
				-o-transition: all .2s ease;
				transition: all .2s ease;
			}
		}

		.download_me:hover {

			.arrow {
				opacity: 1;
			}
		}
	}
}

#Welcome_page {
	background: transparent;
	width: 1240px;
	height: 700px;
	margin-top: 300px;
	margin-left: auto;
	margin-right: auto;

	.Welcome_info {
		float: left;
		width: 450px;
		font-family: 'PT Sans', sans-serif;
	
		h1 {
			font-size: 2.85em;
			font-weight: 300;
		}

		h2 {
			font-size: 1.1em;
			font-weight: 300;
			color: #aaaaaa;
			margin-left: 20px;

			ul {
				margin-bottom: 1em;

				li {
					margin-left: 40px;
					margin-top: 1em;
					margin-bottom: 1em;
				}
			}

			a {
				color: #c12c13;
				text-decoration: underline;
			}

			.cite {
				font-size: .75em;
				margin-left: 8em;
				color: #aaa;
				text-align: right;
				width: 350px;
				height: 50px;

				.reveal {
					position: relative;
					margin-top: -1.5em;
					margin-bottom: 1em;
				}

				.hidden {
					opacity: 0;
					font-size: 1.25em;
					margin-top: 10px;
				}

				.reveal:hover {
					color: #000;
					.hidden {
						opacity: 1;
					}
				}
			}
		}

		.salsa {
			color: #c12c13;
		}
	}

	#current_work {
		width: 386px;
		height: 500px;
		margin-left: 40px;
		background: url('/assets/Bullwinkles_postcard_v2_small.jpg') no-repeat;
		float: left;
		border: 1px solid #cacaca;
	}

	#current2 {
		width: 324px;
		height: 500px;
		margin-left: 40px;
		background: url('/assets/Bullwinkles_MLSCup_ticket_small.jpg') no-repeat;
		float: left;
		border: 1px solid #cacaca;
	}

}