#info_bar {
	width: 1024px;
	height: 235px;
	margin-left: 8px;
	margin-bottom: 8px;

	img {
		width: 1024px;
	}

	.roc_title {
		width: 350px;
		height: 175px;
		margin-top:15px;
		margin-left: 23px;
	}

	p {
		margin-left: 10px;
		margin-top: 0px;
		margin-bottom: 0px;
		color: #fff;
		font-size: 36px;
		font-family: 'Cinzel Decorative', cursive;
	}

	ul {
		color: #fff;
		font-size: 16px;
		list-style-type: none;
	}
}

#feature {
	margin-left: 8px;

	img {
		width: 1024px;
	}
}

#Nest_feature {
	margin-left: 8px;
	margin-top: 8px;

	img {
		width: 1024px;
	}
}
#UR_feature {
	background: url("/assets/BKnouse_resume_Feb2013.png") no-repeat;
	margin-left: 8px;
	margin-bottom: 8px;
	background-size: 100%;
	width: 1024px;
	height: 1286px;

	img {
		width: 50px;
	}

	.download_me {
		position: relative;
		left: 125px;
		top: 325px;
		width: 50px;
		height: 66px;

		.arrow {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			-webkit-transition: all .2s ease;
			-moz-transition: all .2s ease;
			-ms-transition: all .2s ease;
			-o-transition: all .2s ease;
			transition: all .2s ease;
		}
	}

	.download_me:hover {

		.arrow {
			opacity: 1;
		}
	}

	.download_tai {
		position: relative;
		left: 125px;
		top: 365px;
		width: 50px;
		height: 66px;

		.arrow {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			-webkit-transition: all .2s ease;
			-moz-transition: all .2s ease;
			-ms-transition: all .2s ease;
			-o-transition: all .2s ease;
			transition: all .2s ease;
		}
	}

	.download_tai:hover {

		.arrow {
			opacity: 1;
		}
	}
}

#SA_feature {
	width: 1024px;
	padding-top: 8px;
	margin-left: 8px;
	padding-bottom: 80px;
	background: #DDDDDD;

	img {
		margin-left: 8px;
		margin-bottom: 40px;
		width: 1000px;
		border: 2px solid #555;
	}

	h1 {
		color: #111;
		font-size: 1.2em;
		line-height: 1.2em;
		font-family: 'Cinzel Decorative', cursive;
		font-weight: bold;
		margin-left: 10px;
	}

	h2 {
		color: #111;
		font-size: .9em;
		line-height: .8em;
		font-family: 'Cinzel Decorative', cursive;
		font-weight: normal;
		margin-left: 10px;
		margin-bottom: 20px;
	}

	p {
		color: #333;
		margin-left: 10px;
		margin-right: 10px;
		
		a {
			color: #7E83A3;
			text-decoration: none;
		}

		a:hover {
			color: #999;
			text-decoration: underline;
		}
	}
}