#info_bar {
	height: 235px;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px;
	margin-top:0;

	img {
		width: 1024px;
	}

	.roc_title {
		width: 350px;
		height: 175px;
		margin-top:15px;
		margin-left: 23px;
	}

	p {
		margin-left: 10px;
		margin-top: 0px;
		margin-bottom: 0px;
		color: #fff;
		font-size: 36px;
		font-family: 'Cinzel Decorative', cursive;
	}

	ul {
		color: #fff;
		font-size: 16px;
		list-style-type: none;
	}
}

#feature {
	margin-left: 8px;

	img {
		width: 1024px;
	}
}
#Bluefields_page {
	background: url('/assets/bg/BF_bg.png');

	#Bluefields_info {
		width: 892px;
		margin-left: auto;
		margin-right:auto;

		img {
			width: 892px;
			margin-top: 15px;
		}
	}

	#Bluefields_feature {
		width: 892px;
		margin-left: auto;
		margin-right: auto;
	}
}
#Parkland_page {
	background: #111;

	#Parkland_info {
		width: 1024px;
		margin-bottom: 8px;
		margin-left: auto;
		margin-right: auto;

		img {
			width: 1024px;
			margin-top: 15px;
		}
	}

	#youtube_feature {
		width: 1024px;
		margin-left: auto;
		margin-right: auto;
	}
}

#Nest_page {
	background: #D3DCE0;

	#Nest_feature {
		width: 1024px;
		margin-left: auto;
		margin-right: auto;
	}
}

#Rapgenius_page {
	background: url('/assets/bg/Rapgenius_bg.png');

	#Rapgenius_feature {
		width: 1024px;
		margin-left: auto;
		margin-right: auto;
	}
}
#SA_page {
	background: #fcfcfc;
	font-size: 14px;

	#SA_feature {
		width: 1024px;
		padding-top: 8px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 80px;
		background: #eee;
		
		#fancybox {
			margin-left: 40px;
		}

		img {
			border: 1px solid #999;
			margin-bottom: 15px;
		}

		h1 {
			color: #111;
			font-size: 1.2em;
			line-height: 1.2em;
			font-family: 'Arial';
			text-transform: uppercase;
			font-weight: bold;
			margin-left: 10px;
		}

		.second {
			color: #111;
			font-size: .9em;
			line-height: .8em;
			font-family: 'Cinzel Decorative', cursive;
			font-weight: normal;
			margin-left: 10px;
			margin-bottom: 20px;
		}

		h3 {
			color: #111;
			font-size: .9em;
			line-height: .8em;
			font-family: 'Arial';
			margin-left: 40px;
			margin-top: 30px;
		}

		.pic_group {
			width: 900px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 15px;
			text-align: center;

		}

		p {
			color: #333;
			margin-left: 40px;
			margin-right: 10px;
			font-family: 'Verdana';	
			
			a {
				color: #7E83A3;
				text-decoration: none;
			}

			a:hover {
				color: #999;
				text-decoration: underline;
			}
		}
	}
}

#SOTB_page {
	background: url('/assets/bg/BF_bg.png');

	#SOTB_info {
		width: 892px;
		margin-bottom: 8px;
		margin-left: auto;
		margin-right: auto;

		img {
			margin-top: 15px;
			width: 892px;
		}
		
	}

	#SOTB_feature {
		width: 892px;
		margin-left: auto;
		margin-right: auto;

		img {
			width: 892px;
		}
	}
}

#UR_page {
	background: #fff;

	#UR_feature {
		background: url("/assets/Bknouse_resume.jpg") no-repeat;
		margin-left: 8px;
		margin-bottom: 8px;
		background-size: 100%;
		width: 1024px;
		margin-left: auto;
		margin-right: auto;
		height: 1291px;

		img {
			width: 50px;
		}

		.download_me {
			position: relative;
			left: 125px;
			top: 325px;
			width: 50px;
			height: 66px;

			.arrow {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				-webkit-transition: all .2s ease;
				-moz-transition: all .2s ease;
				-ms-transition: all .2s ease;
				-o-transition: all .2s ease;
				transition: all .2s ease;
			}
		}

		.download_me:hover {

			.arrow {
				opacity: 1;
			}
		}

		.download_tai {
			position: relative;
			left: 125px;
			top: 375px;
			width: 50px;
			height: 66px;

			.arrow {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				-webkit-transition: all .2s ease;
				-moz-transition: all .2s ease;
				-ms-transition: all .2s ease;
				-o-transition: all .2s ease;
				transition: all .2s ease;
			}
		}

		.download_tai:hover {

			.arrow {
				opacity: 1;
			}
		}
	}
}

#test_feature {
	height: 800px;
	background: #777;

	#clownpenis {
		width: 300px;
		height: 300px;
	}
}