<!DOCTYPE html>
<html>
	<head>
	  <title>Bryan Knouse</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		
		<script type='text/javascript'>
			$(function() {
				$('.kwicks').kwicks({
					size: 175,
					maxSize : 350,
					spacing : 5,
					behavior: 'menu'
				});
			});
		</script>

		<div id="main">

			<div id="navi">
				<div id="row_1">
					<div class="box"> </div>
					<div class="box"> </div>
					<div class="box"> </div>
					<div class="box"> </div>
					<div class="box"> </div>
					<div class="box"> </div>
				</div>

				<div id="row_2">
					<div class="box"> </div>
					<div class="box"> </div>
					<div class="box"> </div>
					<div class="box"> </div>
					<div class="box"> </div>
					<div class="box"> </div>
				</div>

				<div class="row_3">
					<div class="box"> </div>
					<div class="box"> </div>
					<div class="box"> </div>
					<div class="box"> </div>
					<div class="box"> </div>
					<div class="box"> </div>
				</div>

<!-- 				<ul>
					<li> </li>
					<li> </li>
					<li> </li>
				</ul>
				<ul>
					<li> </li>
					<li> </li>
					<li> </li>
				</ul> -->
			</div>

			<span class="desc">  </span>

			<%= yield %>

		</div>

	</body>
</html>
