<!DOCTYPE html>
<html>
<head>
  <title>Bryan Knouse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<script type='text/javascript'>
		$(function() {
			$('.kwicks').kwicks({
				size: 100,
				maxSize : 220,
				spacing : 5,
				behavior: 'menu',
				isVertical: true
			});
		});
	</script>

<%= yield %>

</body>
</html>
