<!DOCTYPE html>
<html>
	<head>
	  <title>Bryan Knouse</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		
		<script type='text/javascript'>
			$(function() {
				$('.kwicks').kwicks({
					size: 175,
					maxSize : 350,
					spacing : 5,
					behavior: 'menu'
				});
			});
		</script>

		<div id="main">

			<span class="title"> BRYAN KNOUSE</span> 
			<span class="desc">  </span>
		
			<div id="nav">
				<ul class='kwicks kwicks-vertical'>
					<li> <a href="/main/rochester"> <img src='/assets/ur_logo.png' /img> </a>  </li>
					<li> <a href="/main/rapgenius"> <img src='/assets/rapgenius_logo.png' /img> </a> </li>
					<li> <a href="/main/rapgenius"> <img src='/assets/sotb_logo.png' /img> </a> </li>
					<li> <a href="/main/rapgenius"> <img src='/assets/ur_soccer.png' /img> </a> </li>
					<li> <a href="/main/rapgenius"> <img src='/assets/nest_logo.png' /img> </a> </li>
				</ul>
			</div>

			<%= yield %>

		</div>

	</body>
</html>
